
:root{
    --color-primary: #ffb84e;
    --color-primary-shade: #eb9e2c;
    --color-dark: #121212;
    --color-dark-shade: #2b2b2b;
    --bg-light: #f8f8f8;
    --bg-light-shade: #e7e7e7;
    --bg-dark: #141010;
}