.stats{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 5rem;

    & > article{
        text-align: center;
        width: 25%;
        min-width: 300px;
        margin: 1em;
        & > p:first-of-type{
            font-size: 1.4rem;
            font-weight: 600;
        }

        & > figure{
            display: grid;
            place-items: center;
        }
    }

    & > article:only-child{
        width: 50%;
    }
}