.testimonial{
  max-width: 930px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
 
  & > article{
      flex: 30%;
      min-width: 280px;

      & > * + * {
        margin-top: 1em;
      }
  }

}